.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 9998;
}

.header__logo {
    display: inline-block;
    width: 98px;
    padding: 6px 25px;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: all 0.5s ease;
}

.header__logo:hover {
    border-color: rgb(67, 162, 240);
    color:rgb(67, 162, 240);
}